#Cabecera{
  background-color: #5b7989;
  border-radius:10px 10px 0px 0px;
  }



#Nombre_marca{
  color:white;
  font-size: 50px;
  font-family: monospace;
  text-shadow: 2px 2px 2px #02010a;
  text-align-last: center;
  position: relative; top:20px;
}

#Menu{
  text-decoration: none;
  text-align: right;
  position: relative; right: 20px; top:20px;
}

a:link{
  text-decoration: none;
}

#Imagen_central{
  display:block;
  margin:auto;

}

#Imagen_derecha{
  margin-top: 500;
  position: relative; right: 0px;
}

#Imagen_izquierda{
  display: block;
  margin-top: 500;
}

#Imagenes{
  background-color: #82c3a6;
}
