 body{
background-color: #02010a;
}
#Cabecera{
  width: 100%;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  flex-direction:row;
  justify-content: space-between;
  font-family: "dancing script";
  background-color: #5b7989;
  border-radius:10px 10px 0px 0px;
  }

#Nombre_marca{
  color:white;
  font-size: 50px;
  text-shadow: 2px 2px 2px #02010a;
  text-align: center;
  padding-top: 10px;
  padding-left: 50px;
}

#Menu_nav{
  text-decoration:none;
  color:white;
  margin: 20px;
}

.Navegador{
  margin-top: 50px;
  color:white;
  font-size: 20px;
}

}
a:link{
  text-decoration: none;
}
.Imagenes{
  background-color: #82c3a6;
}

#Imagen_central{
  display:flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  margin:auto;
  padding: 10px;
  max-width: 80%;
  max-height: 80%;
}

.Contenedor_galeria_menu{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  min-height: 200px;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5c75f;
  border:1px;
  max-width: 100%;
  max-height: 180%;
  }

.Menu_galeria1{
 padding: 10px;
}

.Menu_galeria2{
 padding: 10px;
}

#Paisaje{
  max-width: 100%;
  max-height: 180%;
  box-shadow: 2px 2px 10px #82c3a6;
  border: 2px;
}

#Retrato{
  max-width: 100%;
  max-height: 180%;
  box-shadow: 2px 2px 10px #82c3a6;
  border: 2px;
}
.Pie_de_pagina{
  font-family: "dancing script";
  background-color: #C6d5c5;
  border-radius:0px 0px 10px 10px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
}

.Contenedor_galeria_paisaje{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  width: 100%;
  min-height: 500px;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5c75f;
  border:10px;
  }

.Paisaje_galeria{
  width: 30%;
  height: 30%;
  margin: 20px;
}

#Paisaje1{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

#Paisaje2 #Paisaje4 #Paisaje6{
  -webkit-filter: greyscale;
  -moz-filter: greyscale;
  -o-filter: greyscale;
  -ms-filter: greyscale;
  filter: greyscale;  
}

.Contenedor_galeria_retrato{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  width: 100%;
  min-height: 500px
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5c75f;
  border:10px;
  }

.Retrato_galeria{
  width: 30%;
  height: 30%;
  margin: 20px;
}
